@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Spline+Sans:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background: transparent;
    border: none;
}

body {
    background: linear-gradient(to bottom, #060606, #0F0F0F);
}

h1 {
    color: white;
    font-size: 72px;
    font-family: "Michroma", sans-serif;
    margin: 0;
}

h2 {
    color: white;
    font-size: 60px;
    font-family: "Inter", sans-serif;
    margin: 0;
}

h3 {
    color: white;
    font-size: 36px;
    font-family: "Michroma", sans-serif;
    margin-bottom: 15px;
}

h4 {
    font-size: 30;
    color: white;
}

h5 {
    font-size: 24px;
    color: white;
}

p {
    color: #ACACAC;
    font-family: "Inter", sans-serif;
    font-size: 21px;
    margin: 0;
}

main {
    margin-top: 120px;
}

strong {
    font-weight: 500;
    color: whitesmoke;
}

a {
    font-family: 'Poppins', sans-serif;
}

label {
    font-family: 'Poppins', sans-serif;
}

input {
    font-family: 'Poppins', sans-serif;
}

textarea {
    font-family: 'Poppins', sans-serif;
    resize: none;
}

.container-fluid img {
    height: auto;
    width: 15px;
}

.d-inline-block {
    display: inline-block !important;
}

.bg-body-tertiary {
    background-color: rgb(6, 6, 6, 0.9) !important;
}

.navbar {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
    padding: 15px !important;
    border-bottom: 1px solid #ffffff0d !important;
}

.navbar-brand {
    font-family: "Michroma", sans-serif !important;
    font-size: 18px !important;
    color: gainsboro !important;
}

.navbar-brand:hover {
    color: whitesmoke !important;
}

.nav-link {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    color: gainsboro !important;
    font-weight: normal !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: whitredesmoke !important;
    font-weight: bold !important;
}

.navbar-toggler-icon {
    filter: invert(1) !important;
}

.navbar-toggler {
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
}

.lightning {
    background: radial-gradient(ellipse 80% 80% at 50% -20%, #ffffff20, #ffffff00);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}

.chat {
    position: fixed;
    bottom: 120px;
    right: 30px;
    z-index: 900;
}

.control-player {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: rgb(20, 20, 20);
    border-top: 1px solid #ffffff0d;
}

.control-player div {
    display: flex;
    align-items: center;
}

.control-player p {
    margin: 0 15px;
}

.control-player strong {
    color: white;
    font-weight: 400;
}

.controls {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="range"] {
    width: 150px;
}

label {
    width: 300px;
    font-size: 18px;
    color: gray;
}

button {
    padding: 15px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.introduction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 90px 120px 90px;
}

.introduction img {
    width: 200px;
    height: auto;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
    filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.8));
}

.introduction p {
    font-size: 36px;
}

.introduction a {
    margin-top: 15px;
}


.introduction h2 {
    font-weight: normal;
}

.introduction strong {
    color: #ff4500;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    width: 100%;
    height: 400px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;
}

.slider a {
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.markers {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    list-style: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}

.markers li {
    display: inline-block;
}

.markers a {
    display: block;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
    transition: background 0.3s, opacity 0.3s;
}

.markers a.active,
.markers a:hover {
    background: #141414;
    opacity: 1;
}

.container-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 60px 90px;
    max-height: auto;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 1200px;
    margin: auto;
    margin-right: 120px;
}

.summary h4 {
    margin: 0 0 15px 0;
}

.summary .button-true {
    margin-right: 15px;
}

.button-false {
    background-color: #1D1F22;
    color: #ACACAC;
    border-radius: 30px;
    border: 1px solid #ffffff0d;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

.button-false:hover {
    background-color: #333337;
    color: white;
}

.button-true {
    background-color: #e53e00;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

.button-true:hover {
    background-color: #333337;
}

.twitch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

iframe {
    border: none;
}

.logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: 120px;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    white-space: nowrap;
    animation: slide 30s infinite linear;
    position: relative;
}

.logos-slide img {
    height: 90px;
    margin: 0 30px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.transmissions {
    display: flex;
    margin: 60px 90px 0 90px;
}

.transmissions-completed {
    display: flex;
    justify-content: space-around;
    margin: 30px 90px 90px 90px;
}

.video-thumbnail {
    position: relative;
    width: 400px;
    height: 225px;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}

.video-thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
}

.modal {
    border: none;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    border: none;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background: none;
    background-color: none;
    text-align: center;
}

.close {
    position: absolute;
    top: -30px;
    right: -30px;
    color: #ACACAC;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: white;
}

.container-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 60px 90px;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 1200px;
    margin: auto;
    margin-right: 120px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 900px;
}

.radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 90px;
}

.radio-summary {
    width: 900px;
    margin-right: 60px;
}

.radio-galeria {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    row-gap: 30px;
    gap: 30px;
    grid-auto-flow: row;
    grid-template-areas:
        "imagen-1 imagen-2"
        "imagen-1 imagen-3";
}

.imagen-1 {
    grid-area: imagen-1;
}

.imagen-2 {
    grid-area: imagen-2;
}

.imagen-3 {
    grid-area: imagen-3;
}

.radio img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 60px 0;
}

.contact-form-data {
    width: auto;
    padding: 60px;
    background-color: none;
    border-radius: 10px;
}

.contact-form-data label {
    display: block;
    margin-bottom: 15px;
    color: #acacac;
}

.contact-form-data input[type="text"],
.contact-form-data input[type="email"],
.contact-form-data input[type="tel"],
.contact-form-data textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    background: #ffffff1a;
    color: #acacac;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.contact-form-data input:focus,
.contact-form-data textarea:focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.contact-form-data input[type="submit"] {
    width: 100%;
    padding: 16px 24px;
    color: #ACACAC;
    font-size: 18px;
    line-height: 24px;
    background-color: #222224;
    border: none;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.contact-form-data input[type="submit"]:hover {
    background-color: #333337;
    color: white;
}

.services {
    display: flex;
    justify-content: space-between;
    margin: 60px 90px;
}

.services a {
    margin-top: 30px;
}

.services-summary {
    width: 600px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.cards-container {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: auto;
    border-radius: 10px;
    background: rgba(51, 51, 55, 0.7);
    padding: 60px 30px;
    box-shadow: 0 25px 15px -15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: relative;
}

.esquina-imagen {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 90px;
    height: auto;
    max-width: none;
    max-height: none;
}

.cards-container a {
    margin: 0 0 15px 0;
}

.cards-container h3 {
    text-align: center;
    margin: 15px 0 15px 0;
}

.cards-container h4 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.cards-container ul {
    list-style-type: none;
    padding-left: 0;
}

.cards-container ul li {
    display: flex;
    align-items: baseline;
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}

.fa-check {
    margin-right: 8px;
}

.cards-container p {
    font-size: 18px;
    text-align: center;
}

.persona-asomada {
    position: absolute;
    left: -150px;
    top: 450px;
    width: 150px;
    height: auto;
    z-index: -1;
}

footer {
    background-color: #060606;
    border-top: 1px solid #ffffff0d;
    padding: 60px 120px 120px 120px;
}

footer section {
    display: flex;
    justify-content: space-evenly;
}

footer h3 {
    margin-bottom: 0;
}

footer h4 {
    margin-bottom: 10px;
}

footer ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

footer ul li {
    font-size: 18px;
    line-height: 24px;
    color: #ACACAC;
    list-style: none;
    text-decoration: none;
}

footer ul li:hover {
    color: white;
}

footer ul li a {
    color: #ACACAC;
    list-style: none;
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
}

footer a p:hover {
    color: white;
}

.copyright p {
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media img {
    margin: 0;
    padding: 15px;
    height: 60px;
    width: auto;
    opacity: 0.5;
}

@media (max-width: 1850px) {

    .radio {
        flex-direction: column;
        align-items: center;
    }

    .radio-summary {
        margin-right: 0;
    }

    .radio-summary a {
        margin-bottom: 60px;
    }
}

@media (max-width: 1650px) {

    .video-thumbnail {
        width: 300px;
        height: 170px;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .cards-container {
        margin: 60px 0 0 0;
        height: auto;
    }

    .persona-asomada {
        position: absolute;
        left: -150px;
        top: 125px;
        width: 150px;
        height: auto;
        z-index: -1;
    }
}

@media (max-width: 1600px) {

    .slider {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1300px) {

    .slider img {
        object-fit: contain;
    }

    spline-viewer {
        display: none;
    }
}

@media (max-width: 1250px) {

    .transmissions-completed {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 90px 90px 90px;
    }

    .container-summary {
        display: flex;
        justify-content: left;
        align-items: left;
        margin: 60px 90px;
    }

    .summary {
        display: flex;
        justify-content: left;
        text-align: left;
        width: 600px;
        margin: auto;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        display: flex;
        justify-content: center;
    }

    .cards-container {
        margin: 60px 30px 0 30px;
    }
}

@media (max-width: 1200px) {

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    .radio-galeria {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 350px);
        grid-template-areas:
            "imagen-1"
            "imagen-2"
            "imagen-3";
    }
}

@media (max-width: 1080px) {

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 21px;
    }

    .introduction {
        display: flex;
        justify-content: space-evenly;
        margin: 60px 90px;
    }

    .introduction img {
        width: 150px;
    }

    .slider {
        border-radius: 0;
    }

    .logos {
        margin: 90px;
    }

    .logos-slide img {
        height: 60px;
    }

    .banner img {
        width: 600px;
    }

    .radio {
        margin: 60px 90px;
    }

    .radio-summary {
        width: auto;
        margin: auto;
    }

    .services-summary {
        width: auto;
        margin: auto;
    }
}

@media screen and (max-width:950px) {

    .introduction {
        display: flex;
        flex-direction: column;
        margin: 60px 90px;
    }

    .introduction img {
        margin-bottom: 60px;
    }

    iframe {
        margin: 0;
        width: 100%;
        max-width: 950px;
    }

    .logos {
        margin: 60px 0;
    }

    footer {
        padding: 60px 60px 120px 60px;
    }
}

@media screen and (max-width:900px) {

    p {
        font-size: 18px;
    }

    footer section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width:800px) {

    .banner img {
        width: 450px;
    }

    .persona-asomada {
        display: none;
    }
}

@media screen and (max-width:650px) {

    .chat {
        bottom: 90px;
    }

    .control-reproductor {
        padding: 15px 15px;
    }

    button {
        padding: 5px;
    }

    .button-false {
        font-size: 16px;
        line-height: 21px;
    }

    .button-true {
        font-size: 16px;
        line-height: 21px;
    }
}

@media screen and (max-width:600px) {

    .introduction {
        margin: 60px 30px;
    }

    .container-summary {
        margin: 60px 30px;
    }

    .transmissions {
        display: flex;
        margin: 30px 30px 0 30px;
    }

    .transmissions-completed {
        margin: 30px;
    }

    .banner img {
        width: 400px;
    }

    .radio {
        margin: 60px 30px;
    }

    .radio-summary a {
        margin-bottom: 30px;
    }

    .services {
        margin: 60px 30px;
    }

    .services a {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .cards-container {
        width: 300px;
        margin: 60px 0 0 0;
    }

    .persona-asomada {
        display: none;
    }

    .esquina-imagen {
        top: -40px;
        right: 125px;
        width: 80px;
    }

    .contact-form-data {
        padding: 30px;
    }
}

@media screen and (max-width:572px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 21px;
    }

    h4 {
        font-size: 18px;
    }

    .introduction {
        margin: 60px 30px 30px 30px;
    }

    .introduction img {
        width: 130px;
        margin-bottom: 30px;
    }

    .button-cta {
        display: inline-block;
    }

    footer {
        padding: 60px 30px 120px 30px;
    }

    .social-media a img {
        margin: 0;
    }

    .contact {
        margin: 30px 15px;
    }
}

@media screen and (max-width:450px) {
    .summary-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-true {
        margin: 0;
    }

    .summary .button-true {
        margin-right: 0;
    }

    .button-false {
        margin: 15px 0 0 0;
    }

    .banner img {
        width: 350px;
    }
}

@media screen and (max-width:400px) {
    .banner img {
        width: 300px;
    }

    .social-media {
        display: flex;
        justify-content: space-between;
    }

    .social-media img {
        padding: 5px;
        width: 45px;
        height: 45px;
    }
}