footer {
    background-color: $color-footer;
    padding: 60px 90px 120px 90px;

    section {
        display: flex;
        justify-content: space-evenly;

        h3 {
            margin-bottom: 0;
        }

        h4 {
            margin-bottom: 10px;
        }

        ul {
            text-decoration: none;
            list-style: none;
            padding: 0;

            li {
                font-size: 18px;
                line-height: 24px;
                color: $color-secondary-2;
                list-style: none;
                text-decoration: none;

                &:hover {
                    color: $color-secondary-1;
                }

                a {
                    color: $color-secondary-2;
                    list-style: none;
                    text-decoration: none;

                    &:hover {
                        color: $color-secondary-1;
                    }
                }
            }
        }
    }

    .copyright {
        p {
            margin: 30px 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            font-size: 16px;
        }
    }

    .social-media {
        display: flex;
        justify-content: center;

        img {
            margin: 0;
            padding: 15px;
            height: 60px;
            width: auto;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width:950px) {
    footer {
        padding: 60px 60px 120px 60px;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}

@media screen and (max-width:572px) {
    footer {
        padding: 60px 30px 120px 30px;
    }
}