@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Spline+Sans:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background: transparent;
    border: none;
}

body {
    background: $color-background-gradiant;
}

.background {
    background: $color-background-gradiant;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main {
        margin: 0;
    }
}

h1 {
    color: $color-secondary-1;
    font-size: 72px;
    font-family: "Michroma", sans-serif;
    margin: 0;
}

h2 {
    color: $color-secondary-1;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    margin: 0;
}

h3 {
    color: $color-secondary-1;
    font-size: 36px;
    font-family: "Michroma", sans-serif;
    margin-bottom: 15px;
}

h4 {
    font-size: 30;
    color: $color-secondary-1;
}

h5 {
    font-size: 24px;
    color: $color-secondary-1;
}

p {
    color: $color-secondary-2;
    font-family: "Inter", sans-serif;
    font-size: 21px;
    margin: 0;
}

main {
    margin-top: 120px;
}

strong {
    font-weight: 500;
    color: $color-primary-1;
}

a {
    font-family: 'Poppins', sans-serif;
}

iframe {
    border: none;
}

.button-false,
.button-true {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 300ms ease-in-out;

    strong {
        color: $color-secondary-1;
        font-weight: bold;
    }

    &:hover {
        background-color: $color-button-hover;
    }
}

.button-false {
    background-color: $color-button-false;
    color: $color-secondary-2;

    &:hover {
        color: $color-secondary-1;
    }
}

.button-true {
    background-color: $color-button-true;
    color: $color-secondary-1;

    &:hover {
        background-color: $color-button-hover;
    }
}

.button-cta {
    margin: 0 0 0 10px;
    color: $color-primary-1;
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 300ms ease-in-out;
    background-color: $color-button-cta;

    strong {
        color: $color-button-true;
        font-weight: bold;
    }

    img {
        width: 30px;
        height: auto;
    }

    &:hover {
        background-color: $color-secondary-1;
    }
}

.badge {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    background: $color-primary-gradiant;
    --bs-badge-border-radius: var(--bs-border-radius);
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 30px;
}