.lightning {
    background: $color-lightning;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}

.circle {
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    top: -30vh;
    right: -50vh;
    opacity: 10;
    filter: blur(120px);
    background: $color-circle;
    z-index: 1;
}

.chat {
    position: fixed;
    bottom: 120px;
    right: 30px;
    z-index: 900;
}

.control-player {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: $color-controls;
    border-top: 1px solid $color-border;

    div {
        display: flex;
        align-items: center;
    }

    p {
        margin: 0 15px;
    }

    strong {
        color: $color-secondary-1;
        font-weight: 400;
    }
}

.controls {
    display: flex;
    gap: 10px;
    align-items: center;
}