// Colors.
$color-background-gradiant: linear-gradient(to bottom, #060606, #0F0F0F);
$color-background-1: #060606;
$color-background-2: #0F0F0F;

$color-header: rgb(6, 6, 6, 0.9);
$color-footer: #060606;

$color-controls: rgb(20, 20, 20);

$color-primary-1: #F14B00;
$color-primary-2: #FE9700;

$color-primary-gradiant: linear-gradient(180deg, #FE9700, #F14B00);

$color-secondary-1: #FFFFFF;
$color-secondary-2: #ACACAC;
$color-secondary-3: #000000;
$color-secondary-4: #141414;

$color-border: #333337;

$color-button-true: #F14B00;
$color-button-false: #1D1F22;
$color-button-hover: #333337;
$color-button-cta: #f5f5f5;

$color-textarea: #333337;
$color-submit: #1D1F22;

$color-modal: rgba(0, 0, 0, 0.8);

$color-lightning: radial-gradient(ellipse 80% 80% at 50% 0%, #ffffff20, #ffffff00);

$color-circle: radial-gradient(circle, #F14B00, #141414);